<footer>
    <a href="{{ path('home') }}"><img class="logo" src="{{ asset ('assets/img/logoFondWhite.png') }}" alt="Logo Ligue de karting nouvelle aquitaine sud"></a>
    <div id="footerInfo">
        <span>ASK Bordeaux-Gironde</span>
        <span>17 chemin Canon</span>
        <span>33270 Floirac</span>
        <span>Tèl : 06.33.96.01.55</span>
        <!--<button class="btn">Contactez-nous</button>-->
    </div>
    <div class="footMenPrinc">
        <span>Menu</span>
        <ul class="footerMenu">
            <li>
                <a href="{{ path('karting') }}">Karting</a></li>
            <li>
                <a href="{{ path('course') }}">Courses</a></li>
            <li>
                <a href="{{ path('nosClubs') }}">Nos clubs</a></li>
            <li>
                <a href="{{ path('galerie') }}">Galerie</a></li>
        </ul>
    </div>
    <div class="footMenPrinc">
        <span>Liens utiles</span>
        <ul class="footerMenu">
            <li>
                <a href="">Les pilotes</a></li>
            <li>
                <a href="">Contact</a></li>
            <li>
                <a href="">Mentions légales</a></li>
        </ul>
    </div>
    <div class="footerButton">
        <button class="btn"><a href="{{  path('app_register') }}" target="_blank"> Inscription Ligue</a></button>
        <button class="btn"><a href="https://licence.ffsa.org/" target="_blank"> Achat Licence</a> </button>
    </div>
    <div>
        <button id="newsletter">Newsletter</button>
    </div>
    <div>
        <a href="https://www.facebook.com/groups/648978735865039" target="_blank"><img class="socialLogo" src="{{asset ('assets/img/facebook.png') }}" alt="Lien de connexion Facebook de la Ligue de Karting Nouvelle Aquitaine Sud"></a>
    </div>
</footer>


